<!-- Slider modal -->
<div class="camera-permission-slider" [class.visible]="showPermissionSlider()">
  <div class="slider-content">
    <p>We need your permisson to access your camera 📷</p>
    <button (click)="requestCameraAccess()">Allow access</button>
  </div>
</div>

<div *ngIf="cameraReady()">
  <button #startBtn id="startBtn" (click)="startCapture()">
    Start capture
  </button>
</div>

<canvas
  #freezeCanvas
  id="freezeCanvas"
  [style.display]="isFrozen() ? 'block' : 'none'"
></canvas>
<video
  #video
  id="video"
  autoplay
  playsinline
  muted
  [style.display]="isFrozen() ? 'none' : 'block'"
></video>

<canvas #detectionCanvas id="detectionCanvas" style="display: none"></canvas>
<canvas #overlayCanvas id="overlayCanvas"></canvas>

<div id="capturedImage" *ngIf="capturedImage() as photo" class="photo-preview">
  <img [src]="photo" alt="Captured photo" />

  <div class="photo-actions">
    <button class="retry" (click)="retryPhoto()">↻ Retry</button>
    <button class="confirm" (click)="usePhoto()">✔ Use photo</button>
  </div>
</div>

<!-- Toggle switch -->
<div class="toggle-panel">
  <div class="toggle-item">
    <label class="switch">
      <input
        type="checkbox"
        [checked]="showDetections()"
        (change)="toggleDetections()"
      />
      <span class="slider"></span>
    </label>
    <span class="toggle-label">Show detections and proportions</span>
  </div>

  <div class="toggle-item">
    <label class="switch">
      <input type="checkbox" [checked]="showBoxes()" (change)="toggleBoxes()" />
      <span class="slider"></span>
    </label>
    <span class="toggle-label">Show bounding boxes</span>
  </div>
</div>

@if (showDetections()) {
<div class="detections-area">
  <div id="proportionBox">
    Proportion: <span>{{ proportion() !== null ? proportion() : "N/A" }}</span>
    <app-chart
      [newValue]="proportion()"
      [nearThreshold]="nearThreshold()"
      [farThreshold]="farThreshold()"
    ></app-chart>
  </div>

  <!-- ✅ Sliders debajo de la gráfica -->
  <div class="slider-group">
    <label>
      Near threshold ({{ nearThreshold() | number : "1.2-2" }})
      <input
        type="range"
        class="slider-near"
        min="0.81"
        max="1"
        step="0.01"
        [value]="nearThreshold()"
        (input)="setNearThreshold($any($event.target).value)"
      />
    </label>

    <label>
      Far threshold ({{ farThreshold() | number : "1.2-2" }})
      <input
        type="range"
        class="slider-far"
        min="0.5"
        max="0.8"
        step="0.01"
        [value]="farThreshold()"
        (input)="setFarThreshold($any($event.target).value)"
      />
    </label>
  </div>
</div>
}

<div id="closeButton">
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6 18L18 6M6 6L18 18"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</div>

<div id="main-container">
  <div class="header"></div>
  <div class="marco-container">
    <svg class="marco-svg" [class.glow]="isAnimating">
      <defs>
        <!-- Gradiente animado para el contorno -->
        <linearGradient id="glowGradient" gradientTransform="rotate(90)">
          <stop offset="0%" stop-color="#0ff" />
          <stop offset="50%" stop-color="#0f0" />
          <stop offset="100%" stop-color="#0ff" />
        </linearGradient>

        <!-- Gradiente animado para el relleno -->
        <linearGradient id="fillGradient" x1="0%" y1="50%" x2="100%" y2="50%">
          <stop offset="0%" stop-color="rgba(31, 238, 200, 0.69)">
            <animate
              attributeName="stop-color"
              values="rgba(31, 238, 200, 0.69);rgba(194, 255, 231, 0.30);rgba(58, 241, 144, 0.26);rgba(194, 255, 231, 0.30);rgba(31, 238, 200, 0.69)"
              dur="5s"
              repeatCount="indefinite"
            />
          </stop>
          <stop offset="100%" stop-color="rgba(31, 238, 200, 0.69)">
            <animate
              attributeName="stop-color"
              values="rgba(31, 238, 200, 0.69);rgba(194, 255, 231, 0.30);rgba(58, 241, 144, 0.26);rgba(194, 255, 231, 0.30);rgba(31, 238, 200, 0.69)"
              dur="5s"
              repeatCount="indefinite"
            />
            <animate
              attributeName="offset"
              values="0;.20;.40;.60;.80;.95;.80;.60;.40;.20;0;"
              dur="5s"
              repeatCount="indefinite"
            />
          </stop>
        </linearGradient>

        <mask id="hole-mask">
          <symbol
            id="reference-frame-mask"
            [attr.viewBox]="0 + ' ' + 0 + ' ' + svgWidth + ' ' + svgHeight"
            preserveAspectRatio="xMidYMid meet"
          >
            <path id="outline-hole" [attr.d]="outlinePathData" fill="#000" />
          </symbol>
          <rect x="0" y="0" width="100%" height="100%" fill="#FFF" />
          <use
            href="#reference-frame-mask"
            transform="scale(1.05)"
            style="transform-origin: center; transform-box: fill-box"
          />
        </mask>

        <symbol
          id="reference-frame"
          [attr.viewBox]="0 + ' ' + 0 + ' ' + svgWidth + ' ' + svgHeight"
          preserveAspectRatio="xMidYMid meet"
        >
          <symbol id="top-left-corner" viewBox="0 0 17 16">
            <path
              d="M0.000137329 -1.45545e-06L0.00013593 16L2.00014 16L2.00014 2L16.6486 2L16.6486 0L0.000137329 -1.45545e-06Z"
              fill="white"
            />
          </symbol>
          <symbol id="top-right-corner" viewBox="0 0 17 16">
            <path
              d="M16.6485 -1.45545e-06L16.6485 16L14.6485 16L14.6485 2L6.121e-05 2L6.10352e-05 0L16.6485 -1.45545e-06Z"
              fill="white"
            />
          </symbol>
          <symbol id="bottom-left-corner" viewBox="0 0 17 16">
            <path
              d="M1.52588e-05 16.0001L1.386e-05 0.000123526L2.00001 0.000123351L2.00002 14.0001L16.6485 14.0001L16.6485 16.0001L1.52588e-05 16.0001Z"
              fill="white"
            />
          </symbol>
          <symbol id="bottom-right-corner" viewBox="0 0 17 16">
            <path
              d="M16.6486 16L16.6486 1.45545e-06L14.6486 1.28061e-06L14.6486 14L0.00018328 14L0.000183105 16L16.6486 16Z"
              fill="white"
            />
          </symbol>
          <use
            href="#top-left-corner"
            width="16px"
            height="16px"
            transform="translate(0 0)"
          />
          <use
            href="#top-right-corner"
            width="16px"
            height="16px"
            [attr.transform]="'translate(' + (svgWidth - 16) + ' 0)'"
          />
          <use
            href="#bottom-left-corner"
            width="16px"
            height="16px"
            [attr.transform]="'translate(0 ' + (svgHeight - 16) + ')'"
          />
          <use
            href="#bottom-right-corner"
            width="16px"
            height="16px"
            [attr.transform]="
              'translate(' + (svgWidth - 16) + ' ' + (svgHeight - 16) + ')'
            "
          />
          <path
            #irregularPath
            [attr.d]="outlinePathData"
            class="irregular-path"
            [class.animate-fill]="isAnimatingFill"
          />
        </symbol>
      </defs>
      <rect id="overlay-box" x="0" y="0" />
      <use href="#reference-frame" />
    </svg>
  </div>

  <div id="feedback">{{ feedback() }}</div>
</div>

<div class="orientation-warning">
  <div class="orientation-content">
    <div class="phone-icon"></div>
    <p>Please turn your device to landscape orientation to continue.</p>
  </div>
</div>
