<button #startBtn id="startBtn" (click)="startCapture()">Start capture</button>

<video #video id="video" autoplay playsinline></video>
<canvas #canvas id="canvas" style="display: none"></canvas>
<canvas #overlayCanvas id="overlayCanvas"></canvas>

<div *ngIf="capturedImage() as photo" class="photo-preview">
  <img [src]="photo" alt="Captured photo" />

  <div class="photo-actions">
    <button class="retry" (click)="capturedImage.set(null)">↻ Retry</button>
    <button class="confirm" (click)="usePhoto()">✔ Use photo</button>
  </div>
</div>

<div id="feedback">{{ feedback() }}</div>

<!-- Toggle switch -->
<div class="toggle-panel">
  <div class="toggle-item">
    <label class="switch">
      <input
        type="checkbox"
        [checked]="showDetections()"
        (change)="toggleDetections()"
      />
      <span class="slider"></span>
    </label>
    <span class="toggle-label">Show detections and proportions</span>
  </div>

  <div class="toggle-item">
    <label class="switch">
      <input type="checkbox" [checked]="showBoxes()" (change)="toggleBoxes()" />
      <span class="slider"></span>
    </label>
    <span class="toggle-label">Show bounding boxes</span>
  </div>
</div>

<div *ngIf="showDetections()" class="detections-area">
  <div id="proportionBox">
    Proportion: <span>{{ proportion() !== null ? proportion() : "N/A" }}</span>
    <app-chart
      [newValue]="proportion()"
      [nearThreshold]="nearThreshold()"
      [farThreshold]="farThreshold()"
    ></app-chart>
  </div>

  <!-- ✅ Sliders debajo de la gráfica -->
  <div class="slider-group">
    <label>
      Near threshold ({{ nearThreshold() | number : "1.2-2" }})
      <input
        type="range"
        class="slider-near"
        min="0.81"
        max="1"
        step="0.01"
        [value]="nearThreshold()"
        (input)="setNearThreshold($any($event.target).value)"
      />
    </label>

    <label>
      Far threshold ({{ farThreshold() | number : "1.2-2" }})
      <input
        type="range"
        class="slider-far"
        min="0.5"
        max="0.8"
        step="0.01"
        [value]="farThreshold()"
        (input)="setFarThreshold($any($event.target).value)"
      />
    </label>
  </div>
</div>

<div class="orientation-warning">
  <div class="orientation-content">
    <div class="phone-icon"></div>
    <p>Please turn your device to landscape orientation to continue.</p>
  </div>
</div>
