:host {
  display: block;
  background: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.camera-permission-slider {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -200px; /* oculto */
  background: #fff;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px;
  text-align: center;
  transition: bottom 0.3s ease-in-out;
  z-index: 1000;
  width: 50%;
}

.camera-permission-slider.visible {
  bottom: 0; /* deslizado arriba */
}

.slider-content p {
  margin-bottom: 15px;
  font-size: 16px;
}

.camera-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#video,
#detectionCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#overlay-box {
  width: 100%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.4);
  mask: url(#hole-mask);
}
#main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.marco-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2; /* siempre encima */
}

#header {
  height: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

#footer {
  height: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.marco-svg {
  width: 100%;
  height: 100%;
}

#capturedImage {
  z-index: 3; /* siempre encima */
}

#overlayCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#startBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 18px;
  z-index: 1000;
  border-radius: 10px;
  border: none;
  background: limegreen;
  color: white;
  cursor: pointer;
  z-index: 3; /* siempre encima */
}

#allowBtn {
  height: 32px;
}

#feedback-box {
  display: flex;
  width: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4); /* fondo semitransparente */
  height: 36px;
  z-index: 2;
  padding: 10px 20px; /* espacio interno */
}

#feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  background: rgba(0, 0, 0, 0.7); /* fondo semitransparente */
  color: #fff;
  text-align: center; /* texto centrado */
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  z-index: 3; /* siempre encima */
}
#detections {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #0f0;
  font-family: monospace;
  font-size: 14px;
  border-radius: 8px;
  max-width: 50%;
  max-height: 30%;
  overflow-y: auto;
  white-space: pre-wrap;
}
#proportionBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  background: rgba(0, 0, 0, 0.6);
  color: #0ff;
  font-size: 14px;
  border-radius: 8px;
}

#proportionBox canvas {
  display: block;
  margin-top: 8px;
  background: #111;
  border: 1px solid #0ff;
  border-radius: 4px;
}

#closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

/* Mensaje oculto por defecto */
.orientation-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* Cuando el dispositivo esté en modo portrait */
@media only screen and (orientation: portrait) {
  .orientation-warning {
    display: flex;
  }
}

/* Cuando el dispositivo esté en modo landscape */
@media only screen and (orientation: landscape) {
  .orientation-warning {
    display: none;
  }
}

.orientation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ícono del celular (simulado con un rectángulo) */
.phone-icon {
  width: 60px;
  height: 100px;
  border: 4px solid white;
  border-radius: 12px;
  position: relative;
  margin-bottom: 20px;
  animation: rotatePhone 2s infinite ease-in-out;
}

/* Botón home del celular */
.phone-icon::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
}

/* Animación: gira de vertical a horizontal */
@keyframes rotatePhone {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  80% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.orientation-warning p {
  font-size: 18px;
  font-weight: bold;
  max-width: 300px;
}

.toggle-panel {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 4;
}

.toggle-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

/* Switch básico estilo iOS */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  transition: 0.3s;
  border-radius: 28px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider:before {
  transform: translateX(22px);
}

/* Photo preview */
.photo-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.photo-preview > img {
  max-width: 90%;
  max-height: 60%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.photo-actions {
  display: flex;
  gap: 20px;
}

.photo-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

button.retry {
  background: #444;
  color: #fff;
}

button.confirm {
  background: #2ecc71;
  color: #fff;
}

.detections-area {
  position: absolute;
  width: 30%;
  top: 100px;
  left: 8px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* pegado a la izquierda */
  gap: 12px;
  z-index: 1000;
}

.detections-area app-chart {
  width: 100%;
}

.slider-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  color: #0ff;
  font-size: 14px;
}

.slider-group input[type="range"] {
  width: 100%;
}

/* Slider rojo (near threshold) */
.slider-near {
  background: #e74c3c66; /* rojo semitransparente */
}
.slider-near::-webkit-slider-thumb {
  background: #e74c3c;
}
.slider-near::-moz-range-thumb {
  background: #e74c3c;
}

/* Slider naranja (far threshold) */
.slider-far {
  background: #f39c1266; /* naranja semitransparente */
}
.slider-far::-webkit-slider-thumb {
  background: #f39c12;
}
.slider-far::-moz-range-thumb {
  background: #f39c12;
}

.level-container {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%); /* centrado vertical */
  z-index: 4;
}

/* Car outline animation */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.rect-path {
  stroke: white;
  stroke-width: 2;
  fill: transparent;
  mask: url(#corner-mask);
}

.irregular-path {
  fill: transparent;
  stroke-width: 3;
  stroke: white;
  stroke-linejoin: round;
  stroke-linecap: round;
  transition: stroke-width 0.3s ease;
  transform: scale(0.95);
  transform-origin: center;
  transform-box: fill-box;
}

#outline-hole {
  transform: scale(0.9);
  transform-origin: center;
  transform-box: fill-box;
}

/* Glow animado */
.glow .irregular-path {
  stroke: url(#glowGradient);
  stroke-width: 3;
  stroke-dasharray: var(--path-length);
  stroke-dashoffset: var(--path-length);
  animation: dashGlow 1s linear forwards;
  filter: drop-shadow(0 0 6px #0ff)
    drop-shadow(0 0 12px rgba(31, 238, 200, 0.69));
}

@keyframes dashGlow {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-fill {
  fill: url(#fillGradient);
}

/* Arrows */
.frame-guide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  z-index: 10;
  width: 48px;
  height: 48px;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.arrow-left {
  left: 10px;
  top: 50%;
  transform: rotate(90deg);
}
.arrow-right {
  right: 10px;
  top: 50%;
  transform: rotate(270deg);
}
.arrow-up {
  top: 10px;
  left: 50%;
  transform: rotate(180deg);
}
.arrow-down {
  bottom: 10px;
  left: 50%;
}

.direction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: #eafff9;
  text-align: center;
  text-shadow: 0 0 12px rgba(0, 255, 180, 0.7);
  font-weight: 500;
  line-height: 1.4;
  pointer-events: none;
  animation: fadeInOut 1.2s ease-in-out infinite alternate;
  z-index: 10;
}

@keyframes fadeInOut {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Toast OK */
#toast-ok {
  width: 340px;
  height: 56px;
  position: relative;
  border-radius: 8px;
  background-color: rgba(130, 211, 196, 0.4);
  border: 1px solid #12856a;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  margin-top: 16px;
}
.iconsolidcheck-circle {
  height: 26px;
  width: 26px;
  position: relative;
  margin-bottom: 0px;
}
.toast-ok-text {
  position: relative;
  line-height: 30px;
}
